*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../media/fondo1.0.jpg);

    height: 100vh;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fade-in {
    animation: fadeIn 3s;
}
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
.fade-in-left{
    animation: fadeInLeft 2s;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ef7a15;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}

span{
    background: #ef7a15;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}

.navbar{
    /*background-color: #ef7a15 ;
    position: absolute;
    top: 0;
    left: 0px;*/
    width: 100%;
    margin: auto;
    padding: -20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*nav-bar en primer plano*/
    z-index: 1;
    
}

.logo{
    width: 150px;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}
.logo:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.logo-link {
    border: none !important;
}



.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

    font-family: 'Kanit', sans-serif;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ef7a15;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
/*Footer*/
footer {
    background: linear-gradient(to right, #ff8a00, #e52e71);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-icons {
    text-align: center;
  }
  
  .social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
  }
  
  .social-icon:not(:last-child)::after {
    content: "|";
    margin: 0 10px;
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
  }
  
  .text {
    text-align: center;
  }
  
  .text p {
    line-height: 0.5;
  }

  /* Estilos para las animaciones de los iconos de redes sociales */
  .social-icons {
    color: #fff;
    font-size: 24px;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons:hover {
    transform: scale(1.50);
  }
  

