/*General*/
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    

}
.superior{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../media/fondo1.0.jpg);
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
/*Barra de navegacion*/

.navbar{
    width: 100%;
    margin: auto;
    padding: -20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 150px;
    height: 100%;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

    font-family: 'Kanit', sans-serif;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ef7a15;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

/*Seccion de intro a productos*/

.intro-pro{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.intro-pro h1{
    font-size: 70px;
    margin-top: 80px;
}
.intro-pro p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}



@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}
/*Slider
.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.slider--inner img{
    width: 100%;

}
*/


/*Seccion catálogo*/
.container{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
}

.caja{
    width: 60px;
    height: 60px;
    border: solid 1px black;
    margin: 20px;
}

.caja1{
    background-color: rgb(224, 116, 21);
}
.caja2{
    background-color: rgb(224, 116, 21);
}
.caja3{
    background-color: rgb(224, 116, 21);
}
.caja4{
    background-color: rgb(224, 116, 21);
}
.caja5{
    background-color: rgb(224, 116, 21);
}
.caja6{
    background-color: rgb(224, 116, 21);
}