/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    
    background-image: linear-gradient(rgba(0,7,0,1) 0%, rgba(6,6,6,1) 43%, rgba(30,25,18,1) 79%, rgba(71,66,59,1) 100%, rgba(200,200,200,1) 100%);
}


/*Barra de navegacion*/
.navbar{
    width: 100%;
    margin: auto;
    padding: -20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;

    transition: all 0.5s ease;

    /*nav-bar en primer plano*/
    z-index: 1;
}
/*Atributos el navbar sea deslizado*/
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
.navbar.scrolled {
    background: rgb(255,244,231);
    background: linear-gradient(90deg, rgba(255,244,231,1) 0%, rgba(255,214,182,1) 50%, rgba(255,244,231,1) 100%);

    animation: fadein 1s;
}
.navbar.scrolled ul li a {
    color: black;
}


.logo{
    width: 100px;
    height: 100%;
    cursor: pointer;

   
    margin: 10px 20px;
    transition: transform 0.3s, opacity 0.3s;
}
.logo:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: italic;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    transition: all 0.3s ease;

    margin: 10px 10px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ef7a15;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

/*Texto de main de bienvenida*/
.superior{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../media/fondo1.0.jpg);
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fade-in {
    animation: fadeIn 2s;
}

  
/*Seccion de intro a productos*/
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
.fade-in-left {
    animation: fadeInLeft 2s;
}

.intro-pro{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.intro-pro h1{
    font-size: 70px;
    margin-top: 80px;
}
.intro-pro p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/*Banners*/
.banner-productos{
    color: #fff;
    margin-left: 135px;
    margin-top: 50px;
}
/*Productos filas*/
.contenido{
    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 350px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;

    background-color: #ffffff;
    transition: transform 0.5s ease;
}
.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}
.mostrador .fila .item.active {
    /* Agrega aquí los estilos para el estado activo del elemento .item */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
}
.mostrador .fila .item .descripcion{
    color: rgb(90, 86, 86);
    font-weight: bold;
}
.mostrador .fila .item .precios{
    color: #f14e32;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}
.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #CCC;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-left: 10px;

    background-color: #ffffff;
}
.cerrar{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.info{
    padding: 20px;
}
.info img{
    display: block;
    margin: 30px;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}
.info .precio{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    color: #f14e32;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}
.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #FFF;
    background-color: #f14e32;
}
/*Seccion catálogo
.container{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
}

.caja{
    width: 60px;
    height: 60px;
    border: solid 1px black;
    margin: 20px;
}

.caja1{
    background-color: rgb(224, 116, 21);
}
.caja2{
    background-color: rgb(224, 116, 21);
}
.caja3{
    background-color: rgb(224, 116, 21);
}
.caja4{
    background-color: rgb(224, 116, 21);
}
.caja5{
    background-color: rgb(224, 116, 21);
}
.caja6{
    background-color: rgb(224, 116, 21);
}
*/
footer {
    background: linear-gradient(to right, #ff8a00, #e52e71);
    color: #fff;
    padding: 20px 0;
    /*position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;*/
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-icons {
    text-align: center;
  }
  
  .social-icon {
    color: #fff;
    font-size: 24px;
    margin: 30 10px;
  }
  
  .social-icon:not(:last-child)::after {
    content: "|";
    margin: 0 10px;
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
  }
  
  .text {
    text-align: center;
  }
  
  .text p {
    line-height: 0.5;
  }

  /* Estilos para las animaciones de los iconos de redes sociales */
  .social-icons {
    color: #fff;
    font-size: 24px;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons:hover {
    transform: scale(1.50);
  }
  