/*Estilo general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

/*Estilo del navegador*/
.navbar{
    width: 100%;
    margin: auto;
    padding: -20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;

    transition: all 0.5s ease;

    /*nav-bar en primer plano*/
    z-index: 1;
    
}
/*Atributos el navbar sea deslizado*/
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
.navbar.scrolled {
  background: rgb(255,244,231);
  background: linear-gradient(90deg, rgba(255,244,231,1) 0%, rgba(255,214,182,1) 50%, rgba(255,244,231,1) 100%);

  animation: fadein 1s;
}
.navbar.scrolled ul li a {
  color: black;
}

.logo{
    width: 100px;
    height: 100%;
    cursor: pointer;
    
    margin: 10px 20px;
    transition: transform 0.3s, opacity 0.3s;
}
.logo:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: italic;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    transition: all 0.3s ease;

    margin: 10px 10px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ef7a15;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

/*Texto grande*/
.superior{
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../media/fondo1.0.jpg);
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  position: relative;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-in {
  animation: fadeIn 2s;
  top: 0;
}



/*Seccion servicios*/
.titulo{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: #fff;
}

.titulo h1{
    font-size: 70px;
    margin-top: 80px;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-in-left{
    animation: fadeInLeft 2s;
  
}

.banner-servicios{
    color: #fff;
    margin-left: 135px;
}
/*seccion servicios:*/

.contenedor-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
}
.contenedor-servicios .tarjetas {
  position: relative;
  min-width: 1200px;
  height: 400px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
  inset -5px -5px 5px rgba(255, 255, 255, 0.5),
   5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}
.contenedor-servicios .tarjetas .caja {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-servicios .tarjetas .caja::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.02);
}
.contenedor-servicios .tarjetas .caja .contenido {
  padding: 20px;
  text-align: center;
}
.container .tarjetas .caja .contenido h1 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.02);
  transition: 0.5s;
}
.contenedor-servicios .tarjetas .caja .contenido h2 {
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 0.4s;
}
.contenedor-servicios .tarjetas .caja .contenido p {
  font-size: 16px;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.4s;
}
.contenedor-servicios .tarjetas .caja .contenido a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.contenedor-servicios .tarjetas:hover .caja {
  transform: translateY(-50px);
  transition: 0.5S;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #b95ce4, #e91e63);
  background: linear-gradient(45deg, #b95ce4, #4f29cd);
}
.contenedor-servicios .tarjetas:hover .caja .contenido h1 {
  color: rgba(0, 0, 0, 0.05);
}
.contenedor-servicios .tarjetas:hover .caja .contenido h2 {
  color: rgb(255, 255, 255);
}
.contenedor-servicios .tarjetas:hover .caja .contenido p {
  color: rgb(255, 255, 255);
}
.contenedor-servicios .tarjetas:hover .caja .contenido a {
  background: #ef7a15;
}